<h1>New pslide</h1>

<div style="background-color: white;position: absolute;left:100px;top:100px;height: 300px;width: 300px;padding: 30px">
  <%= render 'form' %>

</div>
<%= link_to 'Back', pslides_path %>
